######################################################################
#                      RETRY CONFIGURATION                           #
######################################################################

begin retry

{# vim: set ft=exim: #}
