{{ template_path | regex_replace('.*/files/config/(.*)\\.j2', '\\1') | comment }}

# This is used to determine whitelisted senders and hosts.
# It checks for CONFDIR/host_local_deny_exceptions and
# CONFDIR/sender_local_deny_exceptions.
#
# It is meant to be used from some other acl entry.
#
# If the files do not exist, the white list never matches, which is
# the desired behaviour.
#
# The old file names CONFDIR/local_host_whitelist and
# CONFDIR/local_sender_whitelist will continue to be honored for a
# transition period. Their use is deprecated.
#
acl_local_deny_exceptions:
   accept
      hosts = ${if exists{CONFDIR/host_local_deny_exceptions}\
                   {CONFDIR/host_local_deny_exceptions}\
                   {}}
   accept
      senders = ${if exists{CONFDIR/sender_local_deny_exceptions}\
                     {CONFDIR/sender_local_deny_exceptions}\
                     {}}

{# vim: set ft=exim: #}
