{{ template_path | regex_replace('.*/files/config/(.*)\\.j2', '\\1') | comment }}

# This access control list is used for every MAIL command in an incoming
# SMTP message. The tests are run in order until the address is either
# accepted or denied.
#
acl_check_mail:
   accept

{# vim: set ft=exim: #}
