### router/config_system_aliases
################################

# This router handles aliasing using a traditional /etc/aliases file.
#
# This router handles the local part in a case-insensitive way which
# satisfies the RFCs requirement that postmaster be reachable regardless
# of case. If you decide to handle /etc/aliases in a caseful way, you
# need to make arrangements for a caseless postmaster.
#
# Delivery to arbitrary directories, files, and piping to programs in
# /etc/aliases is disabled per default.
#
system_aliases:
  debug_print = "R: system_aliases for $local_part@$domain"
  driver = redirect
  domains = +local_domains
  local_part_suffix = +*
  local_part_suffix_optional
  allow_fail
  allow_defer
  data = ${lookup{$local_part}lsearch{/etc/aliases}}

{# vim: set ft=exim: #}
