######################################################################
#                      REWRITE CONFIGURATION                         #
######################################################################

begin rewrite

{# vim: set ft=exim: #}
