{{ ansible_managed | comment }}
dc_eximconfig_configtype='{% if exim_smarthost %}satellite{% else %}internet{% endif %}'
dc_other_hostnames='{% if exim_localdomains|d(False) %}{{ exim_localdomains | join(';') }}{% else %}{{ ansible_fqdn }};{{ ansible_hostname }}{% endif %}'
dc_local_interfaces='{% if exim_listen is string %}{{ exim_listen }}{% else %}{{ exim_listen | join(' ; ') }}{% endif %}'
dc_readhost='{{ exim_readhost }}'
dc_relay_domains=''
dc_minimaldns='false'
dc_relay_nets='{{ exim_relay_for | sort | join(':') }}'
dc_smarthost='{{ exim_smarthost }}'
CFILEMODE='644'
dc_use_split_config='true'
dc_hide_mailname=''
dc_mailname_in_oh='true'
dc_localdelivery='{{ exim_local_delivery }}'
