######################################################################
#                   AUTHENTICATION CONFIGURATION                     #
######################################################################

begin authenticators

{# vim: set ft=exim: #}
