######################################################################
#                  Runtime configuration file for Exim               #
######################################################################

{# vim: set ft=exim: #}
